body {
	background-color: black;
}

a:link, a:visited {
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: whitesmoke; color: black;
  width: 300px;
}
}

a {
	text-decoration: none; text-align: center; color: ghostwhite;
	font-family: kanit, sans-serif; border: ghostwhite;
}

#container {
	background-image: url("barong2.jpg");
	margin-left: auto; margin-right: auto;
	position: relative; max-width: 1280px; top: 0px;
}

.header {
	margin-right: auto; margin-left: auto;
	height: 80px; background-color: black;
	text-align: center;
}

.main {
	text-align: center; margin-right: auto; margin-left: auto;
	padding-top: 50px;	
	background-color: black; opacity: 90%; width: 300px; height: 400px;
	line-height: 50px;
	font-family: kanit, sans-serif;
}

.bg {
	background-color: black; opacity: 90%;
	width: 100%;
	height: 100%;
}

.footer {
	background-color: black; bottom: 0px;
	text-align: center; position: relative; color: darkgrey;
	margin-left: auto; margin-right: auto;

}


.footer a:hover, a:active {
  background-color: whitesmoke; color: black;
}